@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
    --heading-color: #37373f;
    --nav-color: #7f7f90;
    --theme-white:#fff;
    --accent-color: #ce1212;
    --background-color: #f2f2f2;

    --theme-font-roboto: "Roboto", sans-serif;
    --theme-font-inter:  "Inter", sans-serif;
    --theme-font-Amatic: "Amatic SC", sans-serif;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: var(--theme-font-inter);
}

.container{
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}



.col-5{
    width: 41.65%;
    padding: 0 12px;
}
.col-6{
    width: 50%;
    padding: 0 12px;
}
.col-7{
    width: 58.31%;
    padding: 0 12px;
}
.col-12{
    width: 100%;
    padding: 0 12px;
}
.h-100{
    height: 100%;
}

/* common tag css start */
ul li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img{
    width: 100%;
    display: block;
}

/* common tag css end */

/* header section start  */

header{
    padding: 20px 0;
    color: var(--theme-white);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

header .logo{
    font-size: 30px;
    font-weight: 700;
    font-family: var(--theme-font-roboto);
    color: var(--heading-color);
}

header .logo span{
    color: var(--accent-color);
    font-size: 26px;
}

header nav ul li{
    color: var(--nav-color);
}

header nav ul li a{
    padding: 15px 0;
    margin: 0 15px;
}

header nav+div a,.hero .hero-content .btn-group a:first-child{
    color: var(--theme-white);
    font-size: 14px;
    padding: 8px 26px;
    border-radius: 20px;
    background-color: var(--accent-color);
    
}
header .navbar{
    position: relative;
}

.fa-bars{
    display: none;
    color: black;
    padding: 10px;
    color: var(--nav-color);
    font-size: 21px;
}

/* header section end  */

.hero{
    background-color: var(--background-color);
    padding: 60px 0;
}

.hero .hero-content h2{
    font-size: 64px;
    font-family: var(--theme-font-Amatic);
}

.hero .hero-content p{
    font-size: 21px;
    font-family: var(--theme-font-roboto);
    color: var(--nav-color);
    margin: 2rem 0;
}
.hero .hero-content .btn-group a:first-child{
    font-size: 15px;
    padding: 10px 28px;
    margin-right: 1.5rem;
}

.hero .hero-content .btn-group a:last-child{
    font-weight: 600;
}

.hero .hero-content .btn-group a:last-child i{
    font-size: 2rem;
    margin-right: .5rem;
    color: var(--accent-color);
}

/* about  */
.about .about-heading{
    padding: 60px 0;
    text-align: center;
}
.about .about-heading h2{
    font-size: 13px;
    text-transform: uppercase;
    color: var(--nav-color);
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.about .about-heading p{
    font-family: var(--theme-font-Amatic);
    font-size: 48px;
}
.about .about-heading p span{
    color: var(--accent-color);
}

.about .about-item > div{
    border: 4px solid var(--heading-color);
    text-align: center;
    margin-top: 1.5rem;
    padding: 20px;
}

.about .about-item > div h2{
    color: var(--heading-color);
    margin-bottom: .5rem;
}

.about .about-item > div p{
    font-size: 28px;
    font-weight: 500;
    color: var(--accent-color);
}

.about .about-content{
    padding-left: 48px;
}

.about .about-content p:first-child{
    font-style: italic;
    color: var(--nav-color);
    margin-bottom: 1rem;
}

.about .about-content ul {
    padding-left: 2rem;
    position: relative;
}

.about .about-content ul li{
    margin-bottom: 1rem;
    line-height: 24px;
}

.about .about-content ul li::before{
    content: '\F26A';
    font-family: bootstrap-icons!important;
    font-size: 21px;
    position: absolute;
    left: 0;
    color: var(--accent-color);
}

.about .about-content ul + p{
    line-height: 24px;
    margin-bottom: 1.5rem;
}

/* about  */